* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 0.5rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

/* GENERAL STYLE */

.container {
    top: 3rem;
    width: 80%;
    margin: 0 auto;
    padding: 1px 1px;
}

.container .Scrool {
    display: none;
    position: absolute;
    top: 10px;
    right: -65px;
    width: 100px;
}

.profile-photo {
    width: 3rem;
    aspect-ratio: 3/3;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: white;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
    font-size: 14px;
}

/*=====================Navbar==============*/
.logo {
    font-size: 1.8em;
    color: black;
    user-select: none;
}

.logo span {
    color: rgb(12, 189, 12);
}

.logo .Spn {
    color: rgb(226, 18, 18);
}

.logo-2 {
    color: black;
    display: none;
    cursor: pointer;
}

.logo-2 .Spn {
    color: rgb(226, 18, 18);
}

.logo-2 span {
    color: rgb(12, 189, 12);
}

nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

nav .container .log span {
    color: var(--color-danger);
}

nav .container .search-2 {
    display: none;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input[type="Search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="Search"]::placeholder {
    color: var(--color-gray);
}

nav .create {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-item-2 {
    padding: 12px 50px;
    display: none;
}

.menu-item-2 ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item-2 li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
    margin-right: 5.5em;
    transition: all .5s ease;
}

.menu-item-2 li:last-child {
    margin-right: 0;
}

/*=====================MAIN=======================*/
main {
    position: relative;
    top: -0.2rem;
}

main .container {
    display: flex;
    position: relative;
}

/*===================LEFT====================*/
main .container .left {
    width: 25rem;
    height: max-content;
    position: sticky;
    top: 5.5rem;
}

main .container .left .profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

/*================SIDE BAR=================*/
.left .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .menu-item:hover {
    background: var(--color-light);
}

.left .sidebar i {
    font-size: 1.3rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left .sidebar i .notification-count {
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}

.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left .sidebar .active {
    background: var(--color-light);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
    color: var(--color-primary);
}

.left .sidebar .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .sidebar .menu-item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

/*==========NOTIF POP-UP===========*/
.left .notifications-popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary)), 75%, 60% 25%;
    z-index: 8;
    display: none;
}

.left .notifications-popup::before {
    content: "";
    width: 1, 2rem;
    height: 1.2rem;
    display: block;
    background: red;
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.left .notifications-popup>div {
    display: flex;
    align-items: stat;
    gap: 0.6rem;
    margin-bottom: 1rem;
}

.left .notifications-popup small {
    display: block;
}

/*----------------------MIDDLE--------------------------*/
/*---------------Create post --------------------*/
.middle {
    width: 100%;
    padding: 2rem 2rem;
}

.middle .create-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: var(--card-padding);
    padding-right: 2.5%;
    border-radius: var(--border-radius);
}

.middle .create-post input[type="text,image"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}

/*------------Feeds---------*/
.middle .feeds .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
    width: 100%;
}

.middle .feed .head {
    display: flex;
    justify-content: space-between;
}

.middle .feed .user {
    display: flex;
    gap: 1rem;
}

.middle .feed .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.middle .feed .photo video {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
    width: 100%;
}

.middle .feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.middle .liked-by {
    display: flex;
}

.middle .liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
    margin: 0;
}

.middle .liked-by p {
    margin-left: 0.5rem;
}

.middle .feed .photo .message {
    display: inline;
    gap: 20%;
}

.middle .feed .photo .input-container input {
    background: var(--color-light);
    border-radius: var(--card-padding);
    align-items: center;
    margin: 1rem;
}

/*---------------- Right----------------*/
main .container .right {
    width: 16rem;
    height: max-content;
    position: sticky;
    top: 5.5rem;
}

.right .messages {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages i {
    font-size: 1.4rem;
}

.right .messages .search-bar {
    display: flex;
    margin-bottom: 1rem;
}

.right .messages .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages .category h6 {
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--color-light);
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
}

.right .messages .category .active {
    border-color: var(--color-dark);
}

.right .messages .message-requests {
    color: var(--color-primary);
}

.right .messages .message {
    display: flex;
    gap: 1.4rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .message .profile-photo {
    position: relative;
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    top: -0.2rem;
    right: -0.3rem;

    /* position: relative;
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    top: -0.2rem;
    right: -0.3rem;
    box-shadow: 1px 1px 6px 1px;
    color: var(--color-success); */
}

.right .profile-photo img {
    border-radius: 40%;
}

.right .messages .message:last-child {
    margin: 0;
}

.right .messages .message p {
    font-size: 0.8rem;
}

.right .messages .message .profile-photo .active {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    background: var(--color-success);
    position: absolute;
    bottom: 0;
    right: 0;
}

/*----------------Friend requests-----------------*/
.right .friend-requests {
    margin-top: 0.5rem;
}

.right .friend-requests h4 {
    color: var(--color-gray);
    margin: 1rem 0;
}

.right .request {
    background: var(--color-white);
    padding: 1rem;
    padding-top: 5%;
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}

.right .request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .request .Information {
    padding-left: -20%;
}

.right .request .action {
    display: flex;
    gap: 0.5rem;
    margin-left: 25%;
}

.right .friend-requests .profile-photo {
    position: relative;
    overflow: visible;
}

.right .friend-requests img {
    border-radius: 50%;
    width: 40%;
    width: 3rem;
    aspect-ratio: 3/3;
    border-radius: 50%;
    overflow: hidden;
}

/*==============================
media queries for small laptops and big tablets
================================*/
@media screen and (max-width: 1050px) {
    .left .btn {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .left {
        display: none;
    }

    main {
        top: 4rem;
    }

    .middle {
        padding: 0 0;
    }

    .right {
        display: none;
    }

    .menu-item-2 {
        padding: 12px 20px;
        display: flex;
    }

    .menu-item-2 li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        margin-right: 8.5em;
    }
}

/*==============================
media queries for small tablets and mobile phones
================================*/
@media screen and (max-width: 992px) {
    .menu-item-2 {
        padding: 12px 20px;
        display: flex;
    }

    .menu-item-2 li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        margin-right: 8.5em;
    }

    .main .container {
        grid-template-columns: 0 auto 5rem;
    }

    main .container .left {
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .sidebar h3 {
        display: none;
    }

    /*==============notifiction popup==============*/
    .left .notifications-popup {
        position: absolute;
        left: -20rem;
        width: 20rem;
    }

    .left .notifications-popup::before {
        display: absolute;
        top: 1.3rem;
        left: calc(20rem -0.6rem);
        display: block;
    }

    main .container .left .sidebar>div h3 {
        display: none;
    }

    main .container .middle {
        grid-column: 1/5;
    }

    main .container .right {
        display: none;
    }

    .customize-theme .card {
        width: 92vw;
    }

    .search-bar input[type="Search"] {
        background: transparent;
        width: 9vw;
        margin-left: 1rem;
        font-size: 0.9rem;
        color: var(--color-dark);
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 75%;
    }

    main .container {
        grid-template-columns: 5rem auto 30vw;
        gap: 0;
    }

    main .container .left .profile {
        display: none;
    }

    .left .btn {
        display: none;
    }

    .search-bar input[type="Search"] {
        background: transparent;
        width: 20vw;
        margin-left: 1rem;
        font-size: 0.9rem;
        color: var(--color-dark);
    }

    .menu-item-2 {
        padding: 12px 25px;
    }

    .menu-item-2 li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        margin-right: 7em;
    }
}

@media screen and (max-width:780px) {
    .container .create {
        display: none;
    }
}

@media screen and (max-width:760px) {
    .menu-item-2 {
        padding: 12px 10px;
    }

    .menu-item-2 li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        margin-right: 6em;
    }
}

@media screen and (max-width:730px) {
    main {
        top: 4rem;
    }
}

@media screen and (max-width: 650px) {
    .menu-item-2 {
        padding: 12px 25px;
    }

    .menu-item-2 li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        margin-right: 5em;
    }
}

@media screen and (max-width:610px) {
    .menu-item-2 {
        padding: 12px 20px;
    }

    .logo {
        display: none;
    }

    .logo-2 {
        display: flex;
    }

    .menu-item-2 li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        margin-right: 4em;
    }
}

@media screen and(max-width:510px) {}

@media screen and (max-width:500) {
    .menu-item-2 {
        padding: 12px 20px;
    }

    .menu-item-2 li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        margin-right: 3em;
    }
}

@media screen and (max-width:480px) {
    .menu-item-2 {
        padding: 12px 20px;
    }

    .menu-item-2 li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        margin-right: 3em;
    }
}

@media screen and (max-width:440) {
    .menu-item-2 {
        padding: 12px 1px;
    }

    .menu-item-2 li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        margin-right: 2.6em;
    }

    main {
        position: relative;
        top: 7rem;
        width: 30rem;
    }
}

@media screen and (max-width:390px) {
    .menu-item-2 {
        padding: 12px 1px;
    }

    .menu-item-2 li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        margin-right: 2.5em;
    }
}

@media screen and (max-width: 320px) {
    nav .container .search-2 {
        display: flex;
        position: absolute;
        margin-left: 10.5rem;
        align-items: center;
        justify-content: center;
        font-size: x-large;
        background: var(--color-light);
        padding: 7px 7px;
        border-radius: var(--border-radius);

    }

    .search-bar {
        display: none;
    }

    .menu-item-2 {
        padding: 12px 0px;
    }

    .menu-item-2 li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        margin-right: 2.5em;
    }

    .left .sidebar .menu-item {
        display: none;
        align-items: center;
        height: 4rem;
        cursor: pointer;
        transition: all 300ms ease;
        position: relative;
    }
}